<% layout('./column/1-column') -%>
<div class="panel-body">
  <div class="row">
    <br />
    <div class="col-md-10 col-sm-9">
      <h3>Online Library</h3>
      <div class="row">
        <div class="col-xs-9">
          <h4>
            <span class="label label-default">start reading. Know more!</span>
          </h4>
        </div>
        <div class="col-xs-3"></div>
      </div>
      <br /><br />
    </div>
  </div>
  <hr />

  <a href="/" class="btn btn-primary pull-right btnNext"
    >More <i class="glyphicon glyphicon-chevron-right"></i
  ></a>
</div>
